<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Leopard Gecko</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center">
        <h1 class="pb-3 m-3">Add a Leopard Gecko</h1>
        <div>
            <h2>{{user.first_name}} {{user.last_name}}</h2>
            <a href="/dashboard" class="btn btn-primary">Dashboard</a>      <!--buttons are next to each other not on top-->
            <a href='/logout' class="btn btn-primary">Logout</a>
        </div>
    </nav>
    <form action="/create/leo" method="post" class="justify-content-center p-4 my-4 ">
        <h1>Add a Leopard Gecko</h1>
        <div class="d-flex center justify-content-center col-9">
            <input type="hidden" name="id">
            <div class="justify-content-center">
                <div class="">
                    <label for="genetics">Genetics:</label>
                    <input type="text" name="genetics" class="form-control mr-5">
                    <label for="hatch_date">Hatch Date:</label>
                    <input type="date" name="hatch_date" class="form-control">
                    <label for="description">Description:</label>
                    <input type="text" name="description" class="form-control">
                    
                    <label for="sex">Sex:</label>
                    <input type="text" name="sex" class="form-control mr-5">
                    <label for="gecko_ID">Gecko ID:</label>
                    <input type="number" name="gecko_ID" class="form-control">

                    <label for="breeder">Breeder:</label>
                    <input type="text" name="breeder" class="form-control mr-5">
                    <label for="weight">Weight:</label>
                    <input type="number" name="weight" class="form-control">
                    
                    <label for="dam">Dam:</label>
                    <input type="number" name="dam" class="form-control mr-5">
                    <label for="sire">Sire:</label>
                    <input type="number" name="sire" class="form-control">

                    <label for="location">Location:</label>
                    <input type="text" name="location" class="form-control mr-5">
                    <label for="image">Image:</label>
                    <input type="text" name="image" class="form-control">
                </div>
                <input type="submit" value="Add" class="btn m-3 btn-primary">
            </div>  
        </div>
    </form>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    
</body>
</html>